
<div class=" text-gray-700 flex flex-col justify-center items-center m-auto p-4 mt-[40px] 
  md:flex md:flex-col md:m-auto md:max-w-[300px] md:mt-[80px] 
  lg:flex lg:flex-col lg:m-auto lg:max-w-[500px] lg:mt-[120px] lg:border-2 lg:border-gray-500 lg:p-10 rounded-lg"> 
<h2 class="font-bold text-3xl mb-5 lg:text-center md:text-center lg:mb-[10px]">Let's sign you in.</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-gray-500 font-bold py-2" >
    <%= f.label :email%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "lg:mb-[10px] lg:p-[8px] lg:border lg:border-gray-700
  mb-[5px] p-4 border border-gray-300 rounded-lg" %>
  </div>

  <div class="field text-gray-500 font-bold py-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "lg:mb-[10px] lg:p-[8px] lg:border lg:border-gray-700
  mb-[5px] p-4 border border-gray-300 rounded-lg" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-gray-500 font-bold py-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me  %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"p-6 font-bold text-lg mb-20 bg-blue-700 text-white rounded-lg w-[50%] lg:relative lg:p-2 lg:w-[100%] lg:mb-2 lg:bg-red-400" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>